<mat-list role="list">
    <div>
        <img src="/assets/admin.png"alt="">
        <h3>Admin</h3>
        <h4>admin@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="gallery">Gallery</a>
        <a routerLink="employees">Employee</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="addemployees"><mat-icon>import_contacts</mat-icon>Add Employees</a>
        <a routerLink="lead"><mat-icon>person</mat-icon>Lead</a>
    </div>
  </mat-list>
  